*{
  margin:0;
  padding:0;
  font-family:Arial,sans-serif;
}



html, body{
  height:100%;
  width:100%;
  background-color:#1B1F1F;
  color:#FFFFFF;
  display:flex;
  justify-content:center;
  align-items:center;
  }

.wrapper{
  padding:3rem;
  display:flex;
  justify-content:center;
  flex-direction:column;
  background-color:#212131;
}

.TodoWrapper h1{
  text-align:center;
  padding-bottom:1rem;
  color:aqua;
}
.TodoWrapper .list{
  width:auto;
  max-height:450px;
  overflow:auto;
  margin-top:10px;
}

.list::-webkit-scrollbar{
  width: 10px;
  height: 5px;
}

.list::-webkit-scrollbar-thumb{
  background-color:aqua;
  height:200px;
}

.todo-form{
  height:auto;
  width:auto;
}

.todo-input{
  height:35px;
  width:200px;
  padding-left:5px;
  border:none;
}

.todo-input:hover{
  box-shadow: 0 0 0 2px aqua;

}
.todo-btn{
  height:35px;
  border:none;
  color:aqua;
  padding:0 7px;
  margin:2px;
  background-color:#415161;
}

.todo-btn:hover{
  transition:0.5ms;
  transform:translate(3px, 1px);
  box-shadow: 0 0 0 2px aqua;
}

.todo{
  height:35px;
  padding-left:5px;
  margin:2px 0;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  color:white;
  font-weight:bold;
}

.todo .completed{
  color:#c5aeff;
  text-decoration:line-through;
}
.todo .todo-icon{
  font-size:20px;
  padding-right:10px;
  
}
.todo .todo-icon .icon-edit, .todo .todo-icon .icon-delete{
  padding:5px;
}

.todo .todo-icon .icon-edit{
  color:#09C208;
}
.todo .todo-icon .icon-delete{
  color:red;
}

